*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --tlo: #292929;
    --tlo-kontener: #525252;
    --akcent: #2B00A1;
}
body{
    font-family: Verdana, sans-serif;
    background-color: var(--tlo);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tlo-kontener);
    color: white;
    gap: 20px;
    padding: 7px;
    margin: 10px;
}
#lewa{
    width: calc(100% - 65%);
}
#prawa{
    width: calc(100% - 35%);
}
form label{
    display: block;
    margin-bottom: 5px;
}
form input{
    outline: none;
    border: 1px solid gray;   
}
form input:focus{
    border: 1px solid var(--akcent);
}
#tab{
    width: 100%;
    border-collapse: collapse;
}
#tab th, #tab td{
    padding: 10px;
    border: 1px solid black;
}
#tab th{
    background-color: var(--akcent);
    color: black;
}
#tab td{
    color: white;
}
#tab tbody tr:nth-child(2n){
    background-color: darkgrey;
}
h1{
    color: white;
    text-align: center;
    text-transform: uppercase;
}
button{
    padding: 10px 15px;
    border: none;
}
button:hover{
    background-color: greenyellow;
    color: white;
}